*.exe
*.dll

*.dylib
*.so

/release/
/debug/
/builds/
/other/
Release_MD/
Release/
Debug/
x64/
ipch/
GeneratedFiles/
.moc/

*/bin/obs
*/bin/test
*/bin/obs.app

#autotools
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile.in
Makefile
missing
compile
libtool
ltmain.sh

*.dmg
*.json
*.app
.DS_Store

.directory
.hg
.depend
tags
*.trace
*.vsp
*.psess
*.swp
*.dat
*.clbin
*.log
*.tlog
*.sdf
*.opensdf
*.xml
*.ipch
*.css
*.xslt
*.aps
*.suo
*.ncb
*.user
*.lo
*.ilk
*.la
*.o
*.obj
*.pdb
*.res
*.manifest
*.dep
*.zip
*.lnk
*.chm
*~
.DS_Store
*/.DS_Store
*/**/.DS_Store

*.o.d
*.ninja
.ninja*
.dirstamp

#cmake
cmbuild/

#xcode
*.xcodeproj/
