* text=auto

*.sln             text eol=crlf
*.vcproj          text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf

cmake/ALL_BUILD.vcxproj.user.in text eol=crlf
