<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>obs-mac-virtualcam</string>
	<key>CFBundleIdentifier</key>
	<string>com.obsproject.obs-mac-virtualcam.dal-plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OBS Virtual Camera</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFPlugInFactories</key>
	<dict>
		<key>35FDFF29-BFCF-4644-AB77-B759DE932ABE</key>
		<string>PlugInMain</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>30010C1C-93BF-11D8-8B5B-000A95AF9C6A</key>
		<array>
			<string>35FDFF29-BFCF-4644-AB77-B759DE932ABE</string>
		</array>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>CMIOHardwareAssistantServiceNames</key>
	<array>
		<string>com.obsproject.obs-mac-virtualcam.server</string>
	</array>
</dict>
</plist>
