<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>OBS.icns</string>
	<key>CFBundleName</key>
	<string>OBS</string>
	<key>CFBundleGetInfoString</key>
	<string>OBS - Free and Open Source Streaming/Recording Software</string>
	<key>CFBundleExecutable</key>
	<string>OBS</string>
	<key>CFBundleIdentifier</key>
	<string>com.obsproject.obs-studio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.5</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSAppNapIsDisabled</key>
	<true/>
	<key>NSCameraUsageDescription</key>
 	<string>OBS needs to access the camera to enable camera sources to work.</string>
 	<key>NSMicrophoneUsageDescription</key>
 	<string>OBS needs to access the microphone to enable audio input.</string>
</dict>
</plist>
