[Desktop Entry]
Version=1.0
Name=OBS Studio
GenericName=Streaming/Recording Software
Comment=Free and Open Source Streaming/Recording Software
Exec=obs
Icon=com.obsproject.Studio
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
StartupNotify=true
StartupWMClass=obs

GenericName[af_ZA]=Stroom-/Opnameprogrammatuur
Comment[af_ZA]=Gratis en oopbron stroom-/opnameprogrammatuur
GenericName[an_ES]=Programa de retransmisión/gravación
Comment[an_ES]=Program de retransmisión/gravación libre y de codigo ubierto
GenericName[ar_SA]=برنامَج البث/التسجيل
Comment[ar_SA]=برنامَج بث/تسجيل مجاني ومفتوح المصدر
GenericName[az_AZ]=Yayım/Yazma Proqramı
Comment[az_AZ]=Ödənişsiz və Açıq Mənbəli Yayım/Yazma
GenericName[be_BY]=Праграма для запісу відэа і стрымінга
Comment[be_BY]=Бясплатнае і адкрытае ПЗ для стрымінгу і запісу відэа
GenericName[bg_BG]=Програма за видеозапис и излъчване
Comment[bg_BG]=Безплатна и с отворен код програма за видеозапис и излъчване
GenericName[bn_BD]=স্ট্রিমিং/রেকর্ডিং সফটওয়্যার
Comment[bn_BD]=ফ্রি এবং মুক্ত সোর্স স্ট্রিমিং/রেকর্ডিং সফ্টওয়্যার
GenericName[ca_ES]=Programa de retransmissió/enregistrament
Comment[ca_ES]=Programa de retransmissió/enregistrament de codi lliure i gratuït
GenericName[cs_CZ]=Software pro vysílání a nahrávání
Comment[cs_CZ]=Svobodný software pro vysílání a nahrávání
GenericName[da_DK]=Streaming-/optagelsessoftware
Comment[da_DK]=Helt gratis og open-source streaming-/optagelsessoftware
GenericName[de_DE]=Streaming-/Aufnahme-Software
Comment[de_DE]=Kostenlose und freie Open-Source-Software für die Erstellung von Livestreams und Videoaufnahmen
GenericName[el_GR]=Λογισμικό Ροής/Καταγραφής
Comment[el_GR]=Δωρεαν Λογισμικό Streaming/Kαταγραφή ανοιχτου κωδικα
GenericName[en_GB]=Streaming/Recording Software
Comment[en_GB]=Free and Open Source Streaming/Recording Software
GenericName[es_ES]=Software de retransmisión/grabación
Comment[es_ES]=Software de emisión en directo y grabación de código libre y abierto
GenericName[et_EE]=Video voogesituse ja salvestuse tarkvara
Comment[et_EE]=Tasuta ja avatud lähtekoodiga video voogesituse ja salvestuse tarkvara
GenericName[eu_ES]=Streaming/Grabazio Softwarea
Comment[eu_ES]=Dohainiko eta kode irekiko Streaming/Grabazio softwarea
GenericName[fa_IR]=نرم‌افزار جریان و ضبط
Comment[fa_IR]=نرم‌افزار آزاد جریان و ضبط
GenericName[fi_FI]=Striimaus-/tallennusohjelmisto
Comment[fi_FI]=Ilmainen ja avoimen lähdekoodin striimaus-/tallennusohjelmisto
GenericName[fil_PH]=Software para sa Streaming/Recording
Comment[fil_PH]=Libre at Open Source na Streaming/Recording Software
GenericName[fr_FR]=Logiciel de diffusion/enregistrement
Comment[fr_FR]=Logiciel Open Source gratuit de Diffusion & Enregistrement
GenericName[gd_GB]=Bathar-bog sruthaidh/clàraidh
Comment[gd_GB]=Bathar-bog sruthaidh/clàraidh saor le bun-tùs fosgailte
GenericName[gl_ES]=Software de grabación e vídeo en vivo
Comment[gl_ES]=Software de fontes abertas pra grabación e video en vivo
GenericName[he_IL]=תוכנה לשידורים חיים והקלטות
Comment[he_IL]=תכנה חינמית בקוד פתוח לשידורים חיים והקלטות
GenericName[hi_IN]=स्ट्रीमिंग/रिकॉर्डिंग सॉफ्टवेयर
Comment[hi_IN]=स्वतंत्र एवं खुले स्रोत वाला स्ट्रीमिंग/रिकॉर्डिंग सॉफ्टवेयर
GenericName[hr_HR]=Softver za emitiranje/snimanje
Comment[hr_HR]=Besplatan softver otvorenog koda za emitiranje/snimanje
GenericName[hu_HU]=Közvetítő/rögzítő szoftver
Comment[hu_HU]=Szabad és nyílt forráskódú közvetítő/rögzítő szoftver
GenericName[hy_AM]=Հեռարձակման/տեսագրման ծրագրակազմ
Comment[hy_AM]=Ազատ և բաց կոդով հոսքային/ձայնագրող ծրագրակազմ
GenericName[id_ID]=Perangkat Lunak Streaming/Perekaman
Comment[id_ID]=Perangkat Lunak Streaming/Perekaman Gratis dan Sumber Terbuka
GenericName[it_IT]=Software per dirette e registrazione schermo
Comment[it_IT]=Software libero e a sorgente aperto per la trasmissione/registrazione
GenericName[ja_JP]=配信/録画ソフトウェア
Comment[ja_JP]=無料のオープンソース配信/録画ソフトウェア
GenericName[ka_GE]=ვიდეოს ეთერში გამშვები/ჩამწერი პროგრამა
Comment[ka_GE]=თავისუფალი და ღია წყაროს მქონე, ვიდეოს ეთერში გამშვები/ჩამწერი პროგრამა
GenericName[kmr_TR]=Nermalava weşandin/tomarkirin-ê
Comment[kmr_TR]=Nermalava weşandin/tomarkirin-ê belaş û çavkaniya azad
GenericName[ko_KR]=방송 및 녹화 프로그램
Comment[ko_KR]=스트리밍 및 녹화용 자유 오픈소스 소프트웨어
GenericName[lv_LV]=Straumēšanas/Filmešanas programmatūra
Comment[lv_LV]=Bezmaksas un ar atvērtu kodu Straumēšanas/Filmešanas programmatūra
GenericName[mn_MN]=Шууд дамжуулах/Бичих Програм
Comment[mn_MN]=Үнэгүй ба Нээлттэй Шууд дамжуулах/Бичих Програм
GenericName[ms_MY]=Perisian Penstriman/Rakaman
Comment[ms_MY]=Perisian Penstriman/Rakaman Bersumber Terbuka dan Percuma
GenericName[nb_NO]=Opptak
Comment[nb_NO]=Fri og åpen opptaks-app
GenericName[nl_NL]=Streaming/Opname Software
Comment[nl_NL]=Vrij en Open Source Streaming/Opname Software
GenericName[pl_PL]=Oprogramowanie do transmisji strumieniowej/nagrywania
Comment[pl_PL]=Darmowe i otwarte oprogramowanie do transmisji strumieniowej/nagrywania
GenericName[pt_BR]=Software de gravação e transmissão de vídeo
Comment[pt_BR]=Software livre e de código aberto para gravação e transmissão de vídeo
GenericName[pt_PT]=Programa de transmissão/gravação
Comment[pt_PT]=Programa livre e de código aberto para transmissão/gravação de vídeo
GenericName[ro_RO]=Program de streaming și înregistrare
Comment[ro_RO]=Program de streaming și înregistrare gratuit și open-source
GenericName[ru_RU]=Приложение для потокового вещания и видеозаписи
Comment[ru_RU]=Свободное и открытое ПО для потокового вещания и видеозаписи
GenericName[si_LK]=ප්‍රචාර/පටිගත මෘදුකාංගයකි
Comment[si_LK]=නොමිලේ හා විවෘත මූලාශ්‍ර ප්‍රචාර/පටිගත මෘදුකාංගයකි
GenericName[sk_SK]=Streamovací/Nahrávací Softvér
Comment[sk_SK]=Bezplatný a otvorený streamovací/nahrávací softvér
GenericName[sl_SI]=Pretočna/snemalna programska oprema
Comment[sl_SI]=Brezplačni in odprtokodna programska oprema za pretakanje/snemanje
GenericName[sv_SE]=Programvara för strömning/inspelning
Comment[sv_SE]=Fri programvara för strömning/inspelning med öppen källkod
GenericName[th_TH]=ซอฟต์แวร์สตรีมมิ่ง/บันทึก
Comment[th_TH]=ซอฟต์แวร์สตรีมมิ่ง/บันทึกฟรีและโอเพ่นซอร์ส
GenericName[tl_PH]=Software sa Pag-stream/Pag-record
Comment[tl_PH]=Libre at Open Source na Pag-stream/Pag-record na Software
GenericName[tr_TR]=Yayın/Kayıt Yazılımı
Comment[tr_TR]=Ücretsiz ve Açık Kaynaklı Yayın/Kayıt Yazılımı
GenericName[ug_CN]=ئېقىم تارقىتىش/خاتىرىلەش يۇمشاق دېتالى
Comment[ug_CN]=ئەركىن ۋە ئوچۇق كودلۇق ئېقىم تارقىتىش/سىنغا ئېلىش يۇمشاق دېتالى
GenericName[uk_UA]=Програма для трансляцій/запису
Comment[uk_UA]=Вільне та відкрите програмне забезпечення для трансляцій/запису
GenericName[ur_PK]=سٹریمنگ/ریکارڈنگ سافٹ ویئر
Comment[ur_PK]=مفت اور اوپن سورس سٹریمنگ/ریکارڈنگ سافٹ ویئر
GenericName[vi_VN]=Phần mềm ghi hình/phát luồng
Comment[vi_VN]=Phần mềm ghi hình/phát luồng mã nguồn mở miễn phí
GenericName[zh_CN]=直播/录制软件
Comment[zh_CN]=自由且开源的直播/录制软件
GenericName[zh_TW]=串流與錄影軟體
Comment[zh_TW]=免費，開源的串流與錄影軟體
