root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,cpp,h,hpp}]
indent_style = tab
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 2

[**/CMakeLists.txt]
indent_style = space
indent_size = 2

[cmake/**/*.cmake]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2
